page-candidate-list {
 .recruited-detail {
    padding-left: 4%;
  }
  h6 {
    color: tomato;
  }
  .recruit-title {
    float: left
  }
  .recruit-time {
    text-align: right;
    margin-top: 1%
  }
}
