<ion-header>

  <ion-navbar color="light">
    <ion-title>发布列表</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let item of HotelOrders; let i = index">
      <button ion-item (click)="itemTapped(item)">
        <div class="recruit-title">
          <h2>{{item.DepartMentName}} - {{item.WorkTypeName}}<span *ngIf="item.NewApply" class="notify"><ion-badge item-end>{{item.NewApply}}</ion-badge></span></h2>
          <p><span style="color: #47FF66">{{item.EmployNum}}</span> / <span style="color: tomato">{{item.AppliedNum}}</span> / <span>{{item.Num}}</span>
            <span style="padding-left: 10px">酬劳：{{item.Billing}}</span>
            <span *ngIf="item.Status !== '审核通过'" style="padding-left: 10px"><button class="btn">{{ item.Status }}</button></span>
          </p>
        </div>
        <div class="recruit-time">
          <p>{{item.CreateTime | date:"yyyy-MM-dd"}}</p>
        </div>
      </button>
      <ion-item-options>
        <button ion-button color="light" style="color: tomato" (click)="modifyItem(i, item)">修改</button>
        <button ion-button color="danger" (click)="removeItem(i, item)">删除</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right edge class="icon-add">
    <button ion-fab mini (click)="add()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>