<ion-header>

  <ion-navbar>
    <ion-title>发布列表</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="content-background">

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let item of HotelOrders; let i = index">
      <button ion-item (click)="itemTapped(item)">
        <div class="recruit-title">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-8>
                {{item.DepartMentName}} - {{item.WorkTypeName}}
                <span *ngIf="item.NewApply">
                  <ion-badge>{{item.NewApply}}</ion-badge>
                </span>
              </ion-col>
              <ion-col col-4 style="text-align:right; color: #777; font-size: 14px">
                {{item.CreateTime | amLocale:'zh-cn' | amTimeAgo}}
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid no-padding>
            <ion-row>
              <ion-col col-8 style="font-size: 13px; color: #777">
                <span style="color: tomato">{{item.EmployNum}}</span> / <span>{{item.AppliedNum}}</span> / <span>{{item.Num}}</span>
                <span style="padding-left: 5%">酬劳：{{item.Billing}}</span>
              </ion-col>
              <ion-col col-4 style="text-align:right; color: #777; font-size: 14px">
                <span *ngIf="item.Status !== '审核通过'"><button class="btn">已{{ item.Status }}</button></span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </button>

      <ion-item-options>
        <button ion-button *ngIf="item.Status == '下线' || item.Status == '审核通过'" color="light" style="color: tomato" (click)="modifyItem(i, item)">上线</button>
        <button ion-button *ngIf="item.Status == '上线'" color="light" style="color: tomato" (click)="modifyItem(i, item)">下线</button>
        <button ion-button style="color: #fff; background-color: #FFB90F" (click)="edit(i, item)">修改</button>
        <button ion-button color="danger" (click)="removeItem(i, item)">删除</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right edge class="icon-add">
    <button ion-fab mini (click)="add()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>