page-recruited-list {
  .recruit-title {
    float: left
  }
  .recruit-time {
    text-align: right;
  }
  .notify {
    top:0px;
    position:absolute;
  }
  .icon-add {
    padding-bottom: 10%
  }
  .btn {
    border-radius: 3px;
    font-size: 12px;
    background-color: tomato;
    border: 1px solid #fff;
    padding: 3px 3px 2px 3px;
    font-weight: 500;
    color: #fff;
  }
  .content-background {
    background-color: #f4f4f4;
  }
}
