<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!data.edit">发布用工</ion-title>
    <ion-title *ngIf="data.edit">编辑用工</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="content-background">

  <form>
    <ion-list>
      <ion-item>
        <ion-label>
          <span class="color-need">*</span>部门：</ion-label>
        <ion-input type="text" value="客房部"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <span class="color-need">*</span>工种：</ion-label>
        <ion-input type="text" value="客房打扫"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <span class="color-need">*</span>数量：</ion-label>
        <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="recruit.Num"></ion-input>
        <ion-select cancelText="取消" okText="确定" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.num">
          <ion-option *ngFor="let item of data.nums" [value]="item">{{ item }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <span class="color-need">*</span>单价：</ion-label>
        <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="recruit.Billing" ></ion-input>
        <ion-select cancelText="取消" okText="确定" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.unit">
          <ion-option *ngFor="let item of data.units" [value]="item">{{ item }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <span class="color-need">*</span>单人上限：</ion-label>
        <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="recruit.Max"></ion-input>
        <ion-select cancelText="取消" okText="确定" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.num">
          <ion-option *ngFor="let item of data.nums" [value]="item">{{ item }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <span class="color-need">*</span>单人下限：</ion-label>
        <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="recruit.Min"></ion-input>
        <ion-select cancelText="取消" okText="确定" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.num">
          <ion-option *ngFor="let item of data.nums" [value]="item">{{ item }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
          <span class="color-need">*</span>工作时间：
        </ion-label>
        <ion-select cancelText="取消" okText="确定" [ngModelOptions]="{standalone: true}" [(ngModel)]="recruit.Start">
          <ion-option [value]="data.currentTime">今天</ion-option>
          <ion-option [value]="data.tomorrowTime">明天</ion-option>
        </ion-select>
      </ion-item>

      <!-- <ion-item>
        <div style="display: flex">
          <div style="flex: 1">
            <span class="color-need">*</span>工作时间：
          </div>
          <div style="flex: 2">
            <label>
              <input type="radio" name="recruit.Start" [value]="data.currentTime"> 今天
            </label>
            <label style="padding-left: 5%">
              <input type="radio" name="recruit.Start" [value]="data.tomorrowTime" checked> 明天
            </label>
          </div>
        </div>
      </ion-item> -->

      <ion-item>
        <ion-label>工作描述：</ion-label>
        <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="recruit.Mark" value=''></ion-input>
      </ion-item>
    </ion-list>

    <button *ngIf="!data.edit" block ion-button (click)=create()>发布</button>
    <button *ngIf="data.edit" block ion-button (click)=edit()>修改</button>
  </form>
</ion-content>