page-recruited-detail {
  .recruit-title {
    float: left
  }
  .recruit-time {
    text-align: right;
    margin-top: 1%
  }
  .candidate {
    float: right;
    span {
      color: tomato;
    } 
  }
  .candidate-apply {
    p {
      padding-top: 5%;
      text-align: center;
    }
  }
  .recruited-detail {
    padding-left: 4%;
    .billing {
      color: tomato;
    }
  }

}
