page-recruited-detail {
  .candidate {
    float: right;
    span {
      color: tomato;
    } 
  }
  .candidate-apply {
    p {
      padding-top: 5%;
      text-align: center;
    }
  }
  .recruited-detail {
    padding-left: 4%;
    .billing {
      color: tomato;
    }
  }
  .parent {
    display: flex;
    align-items: center;
    #bg {
      width: 60px;
      height: 16px;
      margin-left: 5%;
      background: url("../assets/images/star_gray.png");
    }
    #over {
      height: 16px;
      background: url("../assets/images/star_org.png") no-repeat;
    }
  }
  .state {
    text-align:right;
    color: tomato;
    font-size: 14px;
  }
}
