<ion-header>

  <ion-navbar color="light">
    <ion-title>详情</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="用工详情">
        用工详情
      </ion-segment-button>
      <ion-segment-button value="申请人列表">
        申请人列表
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div [ngSwitch]="pet">
    <ion-card *ngSwitchCase="'用工详情'">
      <ion-card-header>
        <span>{{RecruitedDetail.DepartMentName}} - {{RecruitedDetail.WorkTypeName}}</span>
        <span class="candidate"><span>{{RecruitedDetail.AppliedNum}}</span> / {{RecruitedDetail.Num}}</span>
      </ion-card-header>
      <ion-card-content>
        <p>酬劳：{{RecruitedDetail.Billing}}</p>
        <p>开始时间：{{RecruitedDetail.Start}}</p>
        <p>结束时间：{{RecruitedDetail.End}}</p>
        <p>地点：浦东金桥</p>
        <p>技能要求：{{RecruitedDetail.Mark}}</p>
      </ion-card-content>
    </ion-card>

    <ion-list *ngSwitchCase="'申请人列表'">
      <div *ngIf="Candidates.TotalApply">
        <ion-list *ngFor="let item of Candidates.Persons; let i = index">
          <button ion-item (click)="itemTapped(item)">
              <div class="recruit-title">
                <p>{{ item.Person.RealName }}</p>
                <p>申请时间：{{ item.Person.CreateTime }}</p>
              </div>
              <div class="recruit-time">
               <button ion-button>{{ item.StatusStr }}</button>
            </div>
          </button>
        </ion-list>
      </div>
      <div *ngIf="! Candidates.TotalApply" class="candidate-apply">
        <p>暂时还没有人申请该职位~</p>
      </div>
    </ion-list>
  </div>
</ion-content>