<ion-header>

  <ion-navbar>
    <ion-title>详情</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="用工详情">
        用工详情
      </ion-segment-button>
      <ion-segment-button value="申请人列表">
        申请人列表
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>
  <div [ngSwitch]="pet">
    <div *ngSwitchCase="'用工详情'">
      <div class="recruited-detail">
        <h3>{{RecruitedDetail.DepartMentName}} - {{RecruitedDetail.WorkTypeName}}</h3>
        <small style="color: #999">创建于 {{RecruitedDetail.CreateTime | date:"yyyy-MM-dd HH:mm"}} </small>
        <h6 class="billing">{{RecruitedDetail.Billing}}</h6>
      </div>

      <ion-item-group>
        <ion-item-divider color="light">
          <h6>
            <ion-icon class="icon-color" name="paper-outline"></ion-icon> 详情：
          </h6>
        </ion-item-divider>
        <div class="recruited-detail">
          <p>已录用人数：<span style="color: red">{{RecruitedDetail.EmployNum}}</span></p>
          <p>已申请人数：<span style="color: tomato">{{RecruitedDetail.AppliedNum}}</span> / {{RecruitedDetail.Num}}</p>
          <p>工作排班：{{RecruitedDetail.ScheduleName}}</p>
          <p>工作类型：{{RecruitedDetail.WorkTypeName}}</p>
          <p>工作地点：{{RecruitedDetail.address}}</p>
          <p *ngIf="RecruitedDetail.Mark !== null">技能要求：{{RecruitedDetail.Mark}}</p>
        </div>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">
          <h6>
            <ion-icon class="icon-color" name="time-outline"></ion-icon> 工作时间：
          </h6>
        </ion-item-divider>
        <div class="recruited-detail">
          <p>开始时间：{{RecruitedDetail.Start | date:"yyyy-MM-dd"}}</p>
          <p>结束时间：{{RecruitedDetail.End | date:"yyyy-MM-dd"}}</p>
        </div>
      </ion-item-group>
    </div>

    <ion-list *ngSwitchCase="'申请人列表'">
      <div *ngIf="Candidates.TotalApply">
        <ion-list>
          <button ion-item *ngFor="let item of Candidates.Persons; let i = index" (click)="itemTapped(item)">
            <ion-avatar item-start>
              <img [src]="'http://123.56.15.145:5000/' + item.Person.Icon">
            </ion-avatar>
            <div class="recruit-title">
              <p>{{ item.Person.RealName }}</p>
              <p>申请时间：{{ item.ApplyTime | date:"yyyy-MM-dd HH:mm"}}</p>
            </div>
            <div class="recruit-time">
              <button ion-button>{{ item.Status == 3 ? '已' + item.StatusStr : item.StatusStr }}</button>
            </div>
          </button>
        </ion-list>
       </div>
      <div *ngIf="! Candidates.TotalApply" class="candidate-apply">
        <p>暂时还没有人申请该职位~</p>
      </div>
    </ion-list>
  </div>
</ion-content>