<!--
  Generated template for the CandidateDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>申请人信息</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-card class="adv-map">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="API_ROOT + candidate.Person.Icon">
          </ion-avatar>
          <h2>{{ candidate.Person.RealName }}<span style="padding-left: 5%">{{ candidate.Person.Sex }}</span></h2>
          <p>联系电话：{{ candidate.Person.Phone }}</p>
        </ion-item>
          
        <ion-card-content>
          <p>住址：{{ candidate.Person.Address }}</p>
          <p>申请时间：{{ candidate.ApplyTime }}</p>
        </ion-card-content>
          
            <!-- <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Likes</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>4 Comments</div>
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                  11h ago
                </ion-note>
              </ion-col>
            </ion-row> -->
        
        </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col *ngIf="candidate.Status === 1">
        <button ion-button block (click)="editStatus(1)">预录用</button>
      </ion-col>
      <ion-col *ngIf="candidate.Status === 2">
        <button ion-button block (click)="editStatus(2)">录用</button>
      </ion-col>
      <ion-col *ngIf="candidate.Status === 1 || candidate.Status === 2">
        <button ion-button block color="danger" (click)="editStatus(0)">拒绝</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>