page-welcome {
  h2, h3 {
    text-align: center;
  }
  .home-content {
    background-image: url(../assets/icon/home_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 10%;
  }
  .home-content-text {
    padding-top: 90%;
    width: 100%;
    color: #fff;
    font-weight: bold;     
  }
}
