<!--
  Generated template for the WelcomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>星加酒店后台</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center class="icons-basic-page">
  <ion-slides autoplay="3000" loop="true" style="width:100%; height:21%">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
    </ion-slide>
  </ion-slides>

  <ion-grid class="grid-menu">
    <ion-row class="row" wrap *ngFor="let row of gridMenu">
      <ion-col *ngFor="let item of row.cols" width-20 (click)="openPage(item.linkPage)">
        <ion-icon class="avatars-icon" *ngIf="!item.isImage" [name]="item.icon" [color]="item.color"></ion-icon>
        <img *ngIf="item.isImage" class="avatars-img" [src]="item.imageUrl">
        <p class="col-title">{{item.title}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>