page-welcome {
  .icons-basic-page {
    background: #F4F4F4;
  }
  .grid-menu {
    width: 100%;
    margin-top: 5%;
    text-align: center;
    .row {
      width: 90%;
      text-align: center;
      margin: auto 5%;
      .col-title{
        font-size: 12px;
      }
    }
    .avatars-icon {
      font-size: 32px;
      font-weight: bold;
    }
    .avatars-img {
      border-radius: 50%;
      overflow: hidden;
      margin-top: 4px;
      width: 50px;
      text-align: center;
    }
  }
}
