page-update-password {
    .alert-danger {
        color: red;
        padding-left: 4%;
      }
      .content-background {
        // background-color: #f4f4f4;
        background: rgba(255, 255, 255, 0.96);
        // background-image: url(../../assets/icon/login.jpg);
        // background-size: 100% auto; 
        // background-repeat: no-repeat;
        .btn {
          margin-top: 5%;
          width: 94%;
          margin-left: 3%
        }
      }
}
