page-room-check {
.headers {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  float: left;
  margin-right: 5px
}

.grey {
  background-color: #ccc;
}

.yellow {
  background-color: rgb(255,153,0);
}

.green {
  background-color: rgb(51,204,51);
}

.bodys {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  float: left;
  margin-right: 8px;
  margin-bottom: 8px
}
}
